.display{
  display: none;

}

.all{
  width: 100%;
  height: 100%;
  background-image: url(../../../../public/x.png);
  background-size: cover;
  background-repeat: no-repeat;

}

.todo{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  margin: 0 0 0 0;
  padding-top: 20%;
  padding-bottom: 13%;
  font-size: 1rem;
  font-size: 16px;

}


.a{
  font-weight: bold;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  display: block;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-family: "lucida console";
  font-size: 30px;
  padding: 25px;
  width: 300px;
  border: 2px solid #2e0a0a;
  background-color: #d3d3d3;
  color: rgb(88, 23, 23);
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.);
  text-decoration: none;
}

.a:hover {
  background-color: #2e0a0a; 
  color: rgb(209, 209, 209);
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.);
  border: 2px solid #584242;
}
.a:active {
  background-color: 2e0a0a;
  box-shadow: 0 5px #6e5a5a;
  transform: translateY(2px);
}

.c:disabled{
  font-weight: bold;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  display: block;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-family: "lucida console";
  font-size: 30px;
  padding: 25px;
  width: 300px;
  border: 2px solid #979090;
  background-color: #837575;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.);
  text-decoration: none;
}
.b:disabled{
  font-weight: bold;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  display: block;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-family: "lucida console";
  font-size: 30px;
  padding: 25px;
  width: 300px;
  border: 2px solid #a8a5a5;
  background-color: #967f7f;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.);
  text-decoration: none;
}

.b{
  font-weight: bold;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  display: block;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-family: "lucida console";
  font-size: 30px;
  padding: 25px;
  width: 300px;
  border: 2px solid #c7c7c7;
  background-color: #916161;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.);
  text-decoration: none;
}

.b:hover {
  background-color: #753535; 
  color: rgb(209, 209, 209);
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.);
}
.b:active {
  background-color: #662929;
  box-shadow: 0 5px #6e5a5a;
  transform: translateY(2px);
}
.c{
  font-weight: bold;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  display: block;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-family: "lucida console";
  font-size: 30px;
  padding: 25px;
  width: 300px;
  border: 2px solid #e4e4e4;
  background-color: #916161;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.);
  text-decoration: none;
}
.c:hover {
  background-color: #753535; 
  color: rgb(209, 209, 209);
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.);
}
.c:active {
  background-color: #662929;
  box-shadow: 0 5px #6e5a5a;
  transform: translateY(2px);
  transition-duration: 0.4s
}