.display{
 display: none;
}
.all{
  width: 100%;
  height: 100%;
  margin-top: 13px;
}
  
.todo{
display: flex;
box-sizing: border-box;
justify-content: center;
align-items: center;
margin: 0 0 0 0;
font-size: 1rem;
font-size: 16px;
}

.numeros, .sumas, .restas{
  display: flex;
}

.suma{
  display: inline-block;

}
.numero{
  display: inline-block;
  font-size: 50px;
  font-family: "lucida console";

}
.resta{
  display: inline-block;

}
.numeros{
  border: 3px solid #161616;
  margin: 0 0 0 0;
  
  width: 80px;
  height: 80px;
}