
.td {
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid #152C59;
	
}
.wall {
	background-color: #1c9225;
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid #152C59;
	
}


