

.all{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
  
  }
  
  .todo{
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	padding-top: 13.85%;
	padding-bottom: 13%;
	font-size: 1rem;
	font-size: 16px;
	
	
  }

.td {
	position: relative;
	width: 32px;
	height: 28px;
	border: 3px solid #000000;
	border-radius: 4px;
	background-color: #a7a7a7;

		
}



.wall {
	background-color: #8a4040;
	position: relative;
	width: 32px;
	height: 28px;
	border: 3px solid #000000;
	border-radius: 4px;
}

 .point {
	position: relative;
	width: 20px;
	height: 20px;
	border: 3px solid #161616;
	border-radius: 10px;
	background-color: #724949;
	
}

.point:hover {
	background-color: #4b2e2e;

}
.hover:active {
	color: #2e2929;

  }
 .pointselected {
	position: relative;
	width: 20px;
	height: 20px;
	border: 3px solid #161616;
	border-radius: 10px;
	background-color: #724949;
	
}

.pointselected:hover {
	background: #8f0909;
	cursor: pointer;
}

.pointselected:active {
	color: #1a1a1a;
	transform: translateY(2px);
  }

.fondo{
background-color: #2b27277a;
}
