.all{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
  
  }
  
  .todo{
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	padding-top: 13.85%;
	padding-bottom: 13%;
	font-size: 1rem;
	font-size: 16px;
	
	
  }
.check{
    font-weight: bold;
    border-radius: 4px;
    background-color: #bdbdbd;
    color: rgb(0, 0, 0);
    width: 90px;
    height: 30px;
    font-weight: 500;
    font-family: "lucida console";
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
    position: absolute;
    top: 490px;
    right: 250px;
    border: 2px solid #3a3a3a;
}
.revelar{
  font-weight: bold;
  border-radius: 4px;
  background-color: #bdbdbd;
  color: rgb(0, 0, 0);
  width: 100px;
  height: 30px;
  font-weight: 500;
  font-family: "lucida console";
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
  position: absolute;
  top: 490px;
  right: 420px;
  border: 2px solid #3a3a3a;
}
.check:hover, .revelar:hover{
    background: #a0a0a0;
    cursor: pointer;
    transform: translateY(0.5px);;
}
.check:active, .revelar:active{
    background: #888888;
    cursor: pointer;
    transform: translateY(1px);;
}


.base{
  position: absolute;
  top:540px;
  right:320px;
}
.horas{
  position: absolute;
  top:540px;
  right:320px;
}
.minutos{
  position: absolute;
  top:540px;
  right:320px;
}

.izquierda{
  position: absolute;
  top:710px;
  right:450px;
}
.derecha{
  position: absolute;
  top:710px;
  right:290px;
}
.circuloBlanco{
  position: absolute;
  top:540px;
  right:306px;
}

.lucesita{
	position: absolute;
	top: 408px;
	left: 1347px;
  }