.all{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
  
  }
  
  .todo{
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	margin: 0 0 0 0;
	padding-top: 15%;
	padding-bottom: 13%;
	font-size: 1rem;
	font-size: 16px;
  }

.td {
	position: relative;
	width: 29px;
	height: 29px;
	border: 2px solid #152C59;
	border-radius: 15px;
	
}

.td:hover {
	background: #538daa;
}




 
.selected {
	position: relative;
	width: 20px;
	height: 20px;
	border: 2px solid #152C59;
	border-radius: 15px;
}

.selected:hover {
	background: #c90e0e;
}




 .point {
	position: relative;
	width: 20px;
	height: 20px;
	border: 2px solid #152C59;
	border-radius: 15px;
	background-color: #1c9225;
	
}

.point:hover {
	background: #1c9225;
}

 .pointselected {
	position: relative;
	width: 20px;
	height: 20px;
	border: 2px solid #152C59;
	border-radius: 15px;
	background-color: #1c9225;
	
}

.pointselected:hover {
	background: #c90e0e;
}


