
.td {
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid #152C59;
	border-radius: 15px;
	
}

.td:hover {
	background: #538daa;
}




 
.selected {
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid #152C59;
	border-radius: 15px;
}

.selected:hover {
	background: #c90e0e;
}




 .point {
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid #152C59;
	border-radius: 15px;
	background-color: #1c9225;
	
}

.point:hover {
	background: #1c9225;
}

 .pointselected {
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid #152C59;
	border-radius: 15px;
	background-color: #1c9225;
	
}

.pointselected:hover {
	background: #c90e0e;
}


