
.td {
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid #152C59;
	border-radius: 15px;
	
}

.td:hover {
	background: #538daa;
}

.td div {
 	width: 40px;
	height: 40px;
 }


 
.selected {
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid #152C59;
	border-radius: 15px;
	background-color: #0a9127;
}

.selected:hover {
	background: #0a9127;
}

.selected div {
 	width: 40px;
	height: 40px;
 }

