.display{
  display: none;
  text-align: center;
}

.todo{
  /*background-image: url(../../../public/login_registro.png);*/
  width: 100%;
  height:100%;
  font-family: 'Courier New', Courier, monospace;
  background-size:auto
  
}

.texto{
  color: black;

}

.a{
  color:black;
}
.usuario{
  color: rgb(91, 0, 0);

}